<style>
  .card {
    background: white;
    padding: 1em;
    margin: 1em;
  }

  .table-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
  }

  .table-row span {
    width: 20px;
  }

  .table-row .name {
    display: flex;
    justify-content: start;
    gap: 1em;
    width: 200px;
  }

  .table-row .form {
    width: 100px;
  }


</style>


<div *ngIf="competition" class="card">
  <h1>{{competition?.name}} ({{competition?.code}})</h1>
  <h3>
    |{{competition.code}}|
    {{competition.area.name}}
    <img class="flag" *ngIf="competition.area.ensignUrl" src="{{competition.area.ensignUrl}}" alt="">
  </h3>

  <p *ngIf="competition.emblemUrl">
    <img class="emblem" src="{{competition.emblemUrl}}" alt="">
  </p>

  <h3>
    Current Season
  </h3>
  <p>
    start date: {{competition.currentSeason.startDate}}
  </p>
  <p>
    end date: {{competition.currentSeason.endDate}}
  </p>
  <p>
    current Matchday: {{competition.currentSeason.currentMatchday}}
  </p>
  <p *ngIf="competition.currentSeason.winner">
    winner: {{competition.currentSeason.winner.name}}
  </p>
  <hr>

  <h3>
    Seasons:
  </h3>
  <div *ngFor="let season of competition.seasons">
    <p>
      start date: {{season.startDate}}
    </p>
    <p>
      end date: {{season.endDate}}
    </p>
    <p>
      current Matchday: {{season.currentMatchday}}
    </p>
    <p *ngIf="season.winner">
      winner: <a href="/teams/{{season.winner.id}}">{{season.winner.name}}</a>
    </p>
    ***
  </div>
  <hr>


  <p>
    last update: {{competition.lastUpdated}}
  </p>
  <hr>
  <a href="/competitions/{{id}}/teams">
    <p>Teams</p>
  </a>
</div>



<div class="card" *ngFor="let standing of standings?.standings">
  <h2>{{standing.stage}} {{standing.type}} {{standing.group}}</h2>
  <div class="table-row" *ngFor="let row of standing.table">
    <span>
      {{row.position}}
    </span>
    <span class="name">
      <a href="/teams/{{row.team.id}}">{{row.team.name}}</a>
    </span>
    <span title="playedGames">{{row.playedGames}}</span>
    <span title="won">{{row.won}}</span>
    <span title="draw">{{row.draw}}</span>
    <span title="lost">{{row.lost}}</span>
    <span title="points">{{row.points}}</span>
    <span title="goalsFor">{{row.goalsFor}}</span>
    <span title="goalsAgainst">{{row.goalsAgainst}}</span>
    <span title="goalDifference">{{row.goalDifference}}</span>
    <span class="form" title="form">{{row.form}}</span>
  </div>
  <pre>
</pre>
</div>

