<style>

  .title {
    text-align: center;
  }

  .card-desk {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

</style>

<div *ngIf="!data">
  <h1>Loading...</h1>
</div>

<div class="title" *ngIf="data">
  <h1>{{data?.competition?.name}}</h1>
  <h1 *ngIf="!id">{{currentArea.name}}</h1>
  <h2>teams: {{count}}</h2>


  <select *ngIf="!id" (change)="handleChangeArea($event)">
    <!--    <option value="0">Select Area</option>-->
    <option
      *ngFor="let area of areas"
      value="{{area.id}}"
      [attr.selected]="currentArea.id === area.id ? true : null">
      {{area.name}}
    </option>
  </select>
</div>

<div class="card-desk">
  <app-team-item *ngFor="let team of teams" [team]="team">
  </app-team-item>
</div>

